<%- include('../../partials/header.ejs') %>
<div class="container mt-4">
    <h3>Nhập dữ liệu nước theo ngày</h3>
    <form action="/water/save" method="POST" class="mt-3">
        <div class="mb-3">
            <label>Pump Station</label>
            <select name="stationCode" class="form-select" required>
                <option value="">-- Chọn trạm --</option>
                <option value="Pump Station No. 0">Pump Station No. 0</option>
                <option value="Pump Station No. 1">Pump Station No. 1</option>
                <option value="Pump Station No. 2">Pump Station No. 2</option>
                <option value="Pump Station No. 3">Pump Station No. 3</option>
                <option value="Pump Station No. 4">Pump Station No. 4</option>
                <option value="Pump Station No. 5">Pump Station No. 5</option>
                <option value="Pump Station No. 6">Pump Station No. 6</option>
                <option value="Pump Station No. 7">Pump Station No. 7</option>
                <option value="Pump Station No. 8">Pump Station No. 8</option>
                <option value="Pump Station No. 9">Pump Station No. 9</option>
            </select>
        </div>
        <div class="mb-3">
            <label>Ngày ghi</label>
            <input type="date" name="date" class="form-control" required />
        </div>

        <div class="mb-3">
            <label>Chỉ số nước</label>
            <input type="number" name="waterRecording" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary">Lưu dữ liệu</button>
    </form>
</div>
<%- include('../../partials/footer.ejs') %>
